In [82]:
#library cell

import pandas as pd

import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge

from sklearn.impute import SimpleImputer

from sklearn import preprocessing

from sklearn.svm import SVR

In [78]:
#train dosyasını import ettik
df=pd.read_csv("train.csv") 

#got rid of these columns because they had too much missing data
df=df.drop(["Alley","FireplaceQu","PoolQC","Fence","MiscFeature"],axis=1) 

#missing data lı numerical ları impute ile doldurduk
df_num_impute=df[["LotFrontage","MasVnrArea","GarageYrBlt"]]
imputer=SimpleImputer(strategy="mean")
imputer.fit(df_num_impute)
X=imputer.transform(df_num_impute)
df2=pd.DataFrame(X,columns=df_num_impute.columns)
df[["LotFrontage","MasVnrArea","GarageYrBlt"]]=df2[["LotFrontage","MasVnrArea","GarageYrBlt"]]

#kategorileri attık
df=df.select_dtypes(exclude="object")

#feature ve labellerı ayırdık
X,y=df.drop(["SalePrice","Id"],axis=1),df["SalePrice"]

X_train, X_test, y_train, y_test=train_test_split(X,y,random_state=0)
#create train and test data

In [79]:
#train csv için linear regression
lin_reg=LinearRegression()
lin_reg.fit(X_train, y_train)
lin_reg.score(X_train,y_train), lin_reg.score(X_test,y_test)

#bu sonuca göre overfitting yapıyorum

(0.8448435518744951, 0.6806919317952956)

In [95]:
#TEST.CSV İÇİN BURASI

df_test=pd.read_csv("test.csv")
#test dosyasını yükledik
#test csv yi hazırla
df_test=df_test.drop(["Alley","FireplaceQu","PoolQC","Fence","MiscFeature"],axis=1) 
#got rid of these columns because they had too much missing data
df_test_num_impute=df[["LotFrontage","MasVnrArea","GarageYrBlt"]]
df_test_num_impute.head()
imputer=SimpleImputer(strategy="mean")
imputer.fit(df_test_num_impute)
X=imputer.transform(df_test_num_impute)
df2_test=pd.DataFrame(X,columns=df_num_impute.columns)
df_test[["LotFrontage","MasVnrArea","GarageYrBlt"]]=df2_test[["LotFrontage","MasVnrArea","GarageYrBlt"]]
df_test=df_test.select_dtypes(exclude="object")
df_test_num_impute=df_test[["BsmtFinSF1","BsmtFinSF2","BsmtUnfSF","BsmtFullBath","BsmtHalfBath","GarageCars","GarageArea","TotalBsmtSF"]]
imputer=SimpleImputer(strategy="mean")
imputer.fit(df_test_num_impute)
X=imputer.transform(df_test_num_impute)
df_var=pd.DataFrame(X,columns=df_test_num_impute.columns)
X.shape
df_test[["BsmtFinSF1","BsmtFinSF2","BsmtUnfSF","BsmtFullBath","BsmtHalfBath","GarageCars","GarageArea","TotalBsmtSF"]]=df_var[["BsmtFinSF1","BsmtFinSF2","BsmtUnfSF","BsmtFullBath","BsmtHalfBath","GarageCars","GarageArea","TotalBsmtSF"]]

#test.csv için tahminler
X=df_test.drop(["Id"],axis=1)
results=pd.DataFrame(lin_reg.predict(X))
results.columns=["SalePrice"]
results.head()

#test.csv için dataframe
df_results=pd.DataFrame()
df_results["Id"]=df_test["Id"]
df_results["SalePrice"]=results["SalePrice"]
df_results.head()

     Id      SalePrice
0  1461  137307.774959
1  1462  159288.568732
2  1463  185914.073179
3  1464  199132.491097
4  1465  208762.222587

In [31]:
df_results_LinearReg=df_results
#

In [ ]:
#elimdeki veri ile diğer regression lar nasıl çalışır merak ediyorum. deneyelim !!!

In [94]:
#Ridge regressin
ridge=Ridge(alpha=5)
ridge.fit(X_train,y_train)
#df_ridge =ridge.predict
ridge.score(X_train,y_train), ridge.score(X_test, y_test)

#buradan alınan sonuç linear regression ile hemen hemen aynı. yani yeni bir model yerine bence var olan modeli geliştirsem daha iyi

(0.8448191673374443, 0.6806292299263703)

In [98]:
#test for SVR
svr=SVR()
svr.fit(X_train,y_train)

#svr.score(X_train, y_train), svr.score(X_test,y_test)

result_df=svr.predict(X)
#no idea what those results mean

C:\Users\emre\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [103]:
result_df=pd.DataFrame(result_df)
result_df.describe()

                  0
count  1.459000e+03
mean   1.625000e+05
std    5.716532e-11
min    1.625000e+05
25%    1.625000e+05
50%    1.625000e+05
75%    1.625000e+05
max    1.625000e+05

In [102]:
df_results_LinearReg

        Id      SalePrice
0     1461  137307.774959
1     1462  159288.568732
2     1463  185914.073179
3     1464  199132.491097
4     1465  208762.222587
5     1466  181788.827624
6     1467  200872.028090
7     1468  174412.692775
8     1469  197004.682043
9     1470  105696.412516
10    1471  203957.909828
11    1472  119023.378131
12    1473   87252.691471
13    1474  168343.066400
14    1475  122527.147344
15    1476  306459.970932
16    1477  238978.680408
17    1478  262785.492237
18    1479  261820.514960
19    1480  383208.047756
20    1481  301251.291213
21    1482  202326.269795
22    1483  187136.072509
23    1484  168196.817665
24    1485  181454.937524
25    1486  232236.558640
26    1487  279085.835017
27    1488  259846.361832
28    1489  178905.777657
29    1490  223335.609527
...    ...            ...
1429  2890   71025.242087
1430  2891  142679.811809
1431  2892   30781.060390
1432  2893   67628.972175
1433  2894   58651.766997
1434  2895  267651.583642
1435  2896  262048.898419
1436  2897  212126.948463
1437  2898  189123.239979
1438  2899  219662.455594
1439  2900  165467.487320
1440  2901  234751.140410
1441  2902  207604.459856
1442  2903  307143.285819
1443  2904  304922.908228
1444  2905   53362.787976
1445  2906  219187.350923
1446  2907  103790.281093
1447  2908  135669.905587
1448  2909  151057.184225
1449  2910   53478.118901
1450  2911   61882.674324
1451  2912  167027.142469
1452  2913   67744.467487
1453  2914   56626.212023
1454  2915   64581.254672
1455  2916   74538.936377
1456  2917  183148.137388
1457  2918  103306.716877
1458  2919  242993.317305

[1459 rows x 2 columns]